// Variables
@import "core/variables";

// Core
// ----
@import "core/mixins";
@import "core/extend";
@import "core/helpers";

// // No conflict
// // -----------
@import "ui/typography";

// // Objects
// // -------
@import "objects/card";

// // User Interface
// // --------------
@import "ui/card";
@import "ui/page";

// // Layout
// // ------
// // e.g. - @import "layout/homepage";

// // Animation
// // ---------
// // e.g. - @import "animation/hero";

// // Temp
// // ----

.container {
  max-width: 800px;
}

#powered-by-rusic {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-image: url("{{ 'powered_by_rusic.png' | image_url }}");
  width: 200px;
  height: 21px;
}

.padded {
  padding: $spacing;
}

@media screen and (max-width: 768px) {
  [class*="col-"]{
    margin-bottom: 15px;
  }
}

img {
  max-width: 100%;
}

html {
  min-height: 100%;
}
